#nav-style{
  background-color: rgb(255 255 255 / 50%);
  color: white;
  padding: 20px;
  margin: 20px;
  
}

#nav-style .nav-link{
  color: white !important;
}

#contact-form input{
    background-color: #ffffff00 !important;
    backdrop-filter: blur(6px);
    border: 0px;
    border-bottom: 4px solid var(--border-color);
    color: white;
}

#contact-form input:focus{
  border-color:none;
  box-shadow: none;
  outline: 0 none;
}

#contact-form input::placeholder{
 color: white;
}

#contact-form  textarea::placeholder{
 color: white;
}
#contact-form textarea{

   background-color: #ffffff00 !important;
    backdrop-filter: blur(6px);
    border: 0px;
    border-bottom: 4px solid var(--border-color);
    color: white;
}



/*Icons on Footer*/

.icon-footer{
  color: white;
}

/*Close Button on project*/
.close-btn{
  background-color: white;
}